[submodule "coordinatoren-businessunit-service"]
	path = coordinatoren-businessunit-service
	url = https://github.com/tothepoint-itco/coordinatoren-businessunit-service.git
[submodule "coordinatoren-contract-service"]
	path = coordinatoren-contract-service
	url = https://github.com/tothepoint-itco/coordinatoren-contract-service.git
[submodule "coordinatoren-discovery"]
	path = coordinatoren-discovery
	url = https://github.com/tothepoint-itco/coordinatoren-discovery.git
[submodule "coordinatoren-bediende-service"]
	path = coordinatoren-bediende-service
	url = ./coordinatoren-bediende-service
